<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="CreditCard.Credit" value="http://localhost:54313/Credit.asmx"/>
  <add key="Comercial.Comercial" value="http://localhost:55203/Comercial.asmx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ConverterSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="ConverterSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://currencyconverter.kowabunga.net/converter.asmx" binding="basicHttpBinding" bindingConfiguration="ConverterSoap" contract="MoneyConverter.ConverterSoap" name="ConverterSoap"/>
      <endpoint address="http://currencyconverter.kowabunga.net/converter.asmx" binding="customBinding" bindingConfiguration="ConverterSoap12" contract="MoneyConverter.ConverterSoap" name="ConverterSoap12"/>
    </client>
  </system.serviceModel>
</configuration>